<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>

    <link rel="stylesheet"  type="text/css" href="{{ '/style.css' | url }}?v={% version %} "/>
    <link rel="stylesheet"  type="text/css" href="{{ '/vendor/sal/sal.css' | url }}?v={% version %}"/>
    <!-- <link rel="stylesheet"  type="text/css" href="https://cdn.jsdelivr.net/npm/shikwasa@2.1.2/dist/shikwasa.min.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="https://cdn.conversejs.org/9.0.0/dist/converse.min.css"> -->
    <!-- <script src="https://cdn.conversejs.org/9.0.0/dist/converse.min.js" charset="utf-8"></script> -->
    
    <script defer src="https://unpkg.com/alpinejs@3.2.1/dist/cdn.min.js"></script>
    {% seo "" %}
    
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/imagesfavicon-16x16.png">
    <link rel="manifest" href="/images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    {% block head %}{% endblock %}
    
    <script defer data-domain="24h24l.org" src="https://plausible.io/js/plausible.js"></script>
    <style>
  
    .conversejs converse-chats.converse-overlayed .chatbox.chatroom .box-flyout {
    min-width: 425px!important;
    height: 375px!important;
    min-height: 375px!important;
    width: 425px!important;
    right: 5px!important;
    }

    .conversejs converse-chats.converse-overlayed .chatbox.chatroom .chatbox-title__buttons {
    flex: 0 0 33%!important;
    }
 
  </style>

  
  </head>
  <body class="font-sans bg-dots">
 
  <!-- <div id="player"></div> -->
  <div class="flex flex-col items-center h-full shadow-lg">
    <div class="max-w-5xl lg:max-w-6xl flex-grow h-full w-full">
      <div class="px-4 lg:px-6 bg-white sm:mx-2 md:mx-8 h-full"> 
      
        {% include "header.njk" %}

        {% block content %}
            {{ content | safe }}
        {% endblock %}
        
        {% include "footer.njk" %}
    
      </div>
    </div>
  </div>

 <!-- <div id="conversejs"></div> -->
 <!-- -<script src="https://cdn.jsdelivr.net/npm/shikwasa@2.1.2/dist/shikwasa.min.js"></script> -->
 <script src="{{'/vendor/sal/sal.js' | url }}?v={% version %}"></script>
 <script src=" {{'/js/scripts.js' | url }}?v={% version %}"></script>

 <script>
  /*
  converse.initialize({
        authentication: 'anonymous',
        auto_login: true,
        auto_join_rooms: [
            '24h24l@conference.localhost',
        ],
        bosh_service_url: 'https://xmpp.hiveagile.com/ekohria4bequahLu/',
        jid: 'localhost', 
        notify_all_room_messages: [
            '24h24l@conference.localhost',
        ],
        view_mode: 'overlayed',     
        show_controlbox_by_default: false,
        locales_url: "https://24h24l.org/js/converse-es.json"
       
      
    });
    */
</script>



  </body>
</html>