<div class="max-w-4xl mx-auto py-8">
    
    <span class="text-sm text-center block tracking-tight uppercase text-gray-500">Síguenos en canales sociales</span>

    <div class="flex flex-wrap justify-center items-center mt-4">

            <a href="https://mastodon.online/@24h24l" class="mx-4">
             <img src="/images/mastodon.svg" alt="Mastodon" class="mx-auto w-10" />
            </a>
             <a href="https://twitter.com/24H24L1" class="mx-4">

            <img src="/images/twitter-x.svg" alt="X" class="mx-auto w-10" />
            </a>
             
            <a href="https://www.youtube.com/channel/UCxUKfsev_8aJEQHFKVMk0Kw" class="mx-4">
            <img src="/images/youtube.svg" alt="YouTube" class="mx-auto w-10" />
            </a>
            <a href="https://t.me/evento24h24l" class="mx-4">
               <img src="/images/telegram.svg" alt="Telegram" class="mx-auto w-10" />
            </a>
    </div>


      <div class="flex flex-wrap justify-center items-center mt-10">

            <ul class="flex text-sm">
            <li><a href="/contacto" class="mx-2 text-primary underline hover:text-gray-500">Contacto</a></li>
            <li><a href="https://2020.24h24l.org" class="mx-2 text-primary underline hover:text-gray-500">24H24L 2020</a></li>
            <li><a href="/2021" class="mx-2 text-primary underline hover:text-gray-500">24H24L 2021</a></li>

            </ul>
      </div>

</div>