<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>

    <link rel="stylesheet"  type="text/css" href="{{ '/style.css' | url }}?v={% version %} "/>
    <link rel="stylesheet"  type="text/css" href="{{ '/vendor/sal/sal.css' | url }}?v={% version %}"/>

    
    <script defer src="https://unpkg.com/alpinejs@3.2.1/dist/cdn.min.js"></script>
    {% seo "" %}
    
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/imagesfavicon-16x16.png">
    <link rel="manifest" href="/images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    {% block head %}{% endblock %}
    
    <style>
      .marquee {
          width: 100%;
          overflow: hidden;
        }

      .marquee__content {
          display: flex;
          list-style: none;
          animation: scrolling 9s linear infinite;
      }
      
      @media (min-width: 768px) {
        .marquee__content {
            animation: scrolling 14s linear infinite;
        }
      }

      .marquee__item {
          flex-shrink: 0;
        }

      .marquee__item::after {
        content: " ";
        padding-left:10px;
      }

      .marquee__item::before {
        content: " ";
        padding-right: 10px;
      }

      @keyframes scrolling {
          0% { transform: translateX(0) }
          100% { transform: translateX(-100%) }
        }  
    </style>
  </head>
  <body class="font-sans">
 
  <div class="flex flex-col items-center h-full shadow-lg">
    <div class="flex-grow h-full w-full">
      <div class="h-full"> 
      
    
        {% block content %}
            {{ content | safe }}
        {% endblock %}

        {% include "footer-simple.njk"%}
    
      </div>
    </div>
  </div>


 <script src="{{'/vendor/sal/sal.js' | url }}?v={% version %}"></script>
 <script src=" {{'/js/scripts.js' | url }}?v={% version %}"></script>


  </body>
</html>