---
title: Contacta con el evento online 24H24L
ogtype: website
---

{% extends 'base.njk' %}

{% block content %}




<div class="max-w-xl mx-auto my-8">
    <span class="text-base text-center block tracking-tight uppercase text-gray-500">Contacta con 24H24L</span>
    <h1 class="text-primary font-bold text-2xl sm:text-3xl tracking-tight leading-none text-center">Contacta con los organizadores y preguntas frecuentes</h1>
</div>


<div class="max-w-4xl mx-auto text-gray-600">

<h2 class="text-xl font-bold text-gray-600 border-b border-gray-300 pb-1 mb-4">Formas de contactar</h2>
<p>Disponemos de los siguientes medios para ponerte en contacto:</p>
<ul class="mb-10">
<li class="mb-2 text-gray-600"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline mr-2 text-primary" viewBox="0 0 20 20" fill="currentColor">
  <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
  <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
</svg>Correo electrónico: <a href="mailto:24h24L@mailo.com" class="text-primary underline">24h24L@mailo.com</a></li>
<li class="mb-2 text-gray-600"><img src="/images/mastodon.svg" alt="Mastodon" class="w-5 h-5 inline mr-2" />Mastodon <a href="https://mastodon.online/@24h24l" class="text-primary underline">mastodon.online/@24h24l
            </a></li>
<li class="mb-2 text-gray-600"><img src="/images/twitter.svg" alt="Twitter" class="w-5 h-5 inline mr-2" />Twitter <a href="https://twitter.com/24H24L1" class="text-primary underline">@24H24L1
            </a></li>
<li class="mb-2 text-gray-600"><img src="/images/telegram.svg" alt="Telegram" class="w-5 h-5 inline mr-2" />Canal Telegram <a href="https://t.me/evento24h24l" class="text-primary underline">@evento24H24L1
            </a></li>
<li class="mb-2 text-gray-600"><img src="/images/youtube.svg" alt="YouTube" class="w-5 h-5 inline mr-2" />Canal YouTube <a href="https://www.youtube.com/channel/UCxUKfsev_8aJEQHFKVMk0Kw" class="text-primary underline">24H24L
            </a></li>



</ul>
<h2 class="text-xl font-bold text-gray-600 border-b border-gray-300 pb-1 mb-4">Preguntas frecuentes</h2>
<dl>
<dt class="font-bold text-primary mb-1">¿Dónde se emitirá?</dt>
<dd class="mb-4">En esta web hay un apartado de Emisión donde encontraras un reproductor desde donde escuchar la emisión de 24 horas.</dd>

<dt class="font-bold text-primary mb-1">¿Dónde descargar los audios?</dt>
<dd class="mb-4">Cuando finalice la emisión los audios estarán disponible en múltiples plataformas; Ivoox, Apple Podcast, Anchor, Spotify, Google podcast…​.etc.</dd>

<dt class="font-bold text-primary mb-1">¿Habrá un directo?</dt>
<dd class="mb-4">La emisión será de audios ya grabados, pero el día de antes y posterior a la emisión, se pretende crear un directo con los participantes y moderadores.</dd>

<dt class="font-bold text-primary mb-1">¿Cómo interactuan los oyentes?</dt>
<dd class="mb-4">El día de la emisión habrá disponible un chat y con alguién de la organización, se intentará que los participantes de los audios estén en el chat a la hora que emiten su audio.</dd>

<dt class="font-bold text-primary mb-1">¿Habrá un sorteo?</dt>

<dd class="mb-4">Si, con premios proporcionados por los patrocinadores, se realizarán varios sorteos tanto en la cuenta de Twitter como en el canal de Telegram del evento. Cada sorteo se grabará en un audio que se emitirá el día de la emisión,12 de Diciembre,intercalados entre los audios del evento 24H24L.</d>
</dl>
</div>

{% include "patrocinadores.njk" %}

{% endblock %}



