---
title: Contacta con el evento online 24H24L
ogtype: website
---

{% extends 'base.njk' %}

{% block content %}




<div class="max-w-xl mx-auto my-8">
    <span class="text-base text-center block tracking-tight uppercase text-gray-500">Créditos</span>
    <h1 class="text-primary font-bold text-2xl sm:text-3xl tracking-tight leading-none text-center">Este proyecto usa herramientas de software libre o con licencias que exigen atribución</h1>
</div>

<div class="max-w-4xl mx-auto text-gray-600">

<h2 class="text-xl font-bold text-gray-600 border-b border-gray-300 pb-1 mb-4">Página web</h2>

<ul class="mb-10">

<li class="mb-2 text-gray-600">Diseño web <a href="https://javierarcheni.com/" rel="noopener" target="_blank" class="text-primary underline">Javier Archeni</a> con la colaboración de <a href="https://gitlab.com/Marzal" rel="noopener" target="_blank" class="text-primary underline">David Marzal</a></li>
<li class="mb-2 text-gray-600">Alojamiento <a href="https://www.gitlab.com/" rel="noopener" target="_blank"  class="text-primary underline">Gitlab Pages</a></li>
<li class="mb-2 text-gray-600"><a href="https://www.11ty.dev/" rel="noopener" target="_blank"  class="text-primary underline">Eleventy, un generador de sitios estático basado en Node</a></li>
<li class="mb-2 text-gray-600"><a href="https://tailwindcss.com/" rel="noopener" target="_blank"  class="text-primary underline">TailwindCSS, librería de utilidades CSS</a></li>
<li class="mb-2 text-gray-600"><a href="https://www.alpinejs.dev/" rel="noopener" target="_blank"  class="text-primary underline">AlpineJS, librería de utilidades JS</a></li>
<li class="mb-2 text-gray-600"><a href="https://www.svgbackgrounds.com/" rel="noopener" target="_blank"  class="text-primary underline">SVG Backgrounds</a></li>
<li class="mb-2 text-gray-600"><a href="https://www.svgrepo.com/" rel="noopener" target="_blank"  class="text-primary underline">SVG iconos</a></li>
<li class="mb-2 text-gray-600"><a href="https://absurd.design/" rel="noopener" target="_blank" class="text-primary underline">Absurd Design, ilustraciones</a></li>




</ul>

</div>
{% include "patrocinadores.njk" %}

{% endblock %}



