---
title: Evento online 24H24L software libre - 11 y 12 diciembre 2021
ogtype: website
prefix: /24h24l-web
tematicas: 
    - "Desarrollo web"
    - "Seguridad"
    - "Microservicios"
    - "Metodologías Ágiles"
    - "Microcontroladores"
    - "Despliegues"
    - "Diseño UX"
---

{% extends 'base.njk' %}

{% block content %}

<div class="flex flex-wrap items-center py-8">

    <div class="w-full sm:w-6/12 sm:px-4 mb-6" data-sal="slide-up" style="--sal-duration: 0.5s; --sal-delay: 0.3s;">
        <span class="text-sm tracking-tight uppercase text-gray-500">Edición 2021 Programación</span>
        <h1 class="text-3xl sm:text-4xl max-w-lg tracking-tight leading-none font-bold text-primary mb-4">Evento de 24 charlas de 1 hora en formato en audio, dedicado al mundo del software libre en español</h1>

        <p class="text-gray-600">Ya está disponible el feed con todos los audios para usar con tu podcatcher preferido. También se irán subiendo a la cuenta de 24H24L en anchor.fm, Youtube y PeerTube.</p>

          <ul class="my-6 text-lg text-gray-500 font-bold">
          <li class="mb-2"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 -mt-1 inline text-primary"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 5c7.18 0 13 5.82 13 13M6 11a7 7 0 017 7m-6 0a1 1 0 11-2 0 1 1 0 012 0z" />
            </svg><a href="https://24h24l.org/feed.xml" class="text-primary  underline hover:text-gray-500">Feed RSS para añadir a tu podcatcher</a></li>
           
           <li class="mb-2"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 -mt-1 inline text-primary"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg><a href="https://anchor.fm/24h24l" class="text-primary underline hover:text-gray-500">24H24L en Anchor</a></li>

            <li class="mb-2"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 -mt-1 inline text-primary"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg><a href="https://youtube.com/24H24L" class="text-primary underline hover:text-gray-500">24H24L en YouTube</a></li>

             <li class="mb-2"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 -mt-1 inline text-primary"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg><a href="https://devtube.dev-wiki.de/accounts/24h24l/video-channels" class="text-primary  underline hover:text-gray-500">24H24L en DevTube</a></li>




          </ul>
    </div>

    <div class="w-full sm:w-6/12 sm:px-4" data-sal="slide-up" style="--sal-duration: 1s; --sal-delay: 0.3s;">

        {% image "images/sketch.jpeg", "Ilustración 24h24L", "w-3/4 sm:w-full mx-auto" %}

    </div>



</div>

<div class="max-w-lg mx-auto">
 <img src="images/ondas.png" alt="Ondas" class="mx-auto w-24 md:w-32" />
</div>

<div class="max-w-5xl mx-auto md:px-4 my-4">

            
            <div class="flex flex-wrap">
            
                <div class="hidden sm:block sm:w-3/12" data-sal="slide-up" style="--sal-duration: 1s; --sal-delay: 0.7s;">
                         {% image "images/sketch-2.jpeg", "Ilustración 24h24L", "mx-auto w-60 p-2" %}
                </div>
                <div class="w-full sm:w-9/12 sm:px-6 lg:px-8" data-sal="slide-up" style="--sal-duration: 0.5s; --sal-delay: 0.3s;">
                        <span class="text-sm tracking-tight uppercase text-gray-500">Evento abierto y 100% gratuito</span>
                        <h2 class="text-primary font-bold text-2xl sm:text-3xl tracking-tight leading-none">Un evento en línea abierto y gratuito, con la participación de divulgadores del software libre</h2>
                        <p class="text-gray-600 mt-4">24H24L es un evento en línea abierto y gratuito, de 24 horas de duración. Consta de 24 audios con formato de podcast y su temática gira en torno al uso de GNU / Linux, así como las experiencias profesionales y personales de los participantes y moderadores.
                        Cada audio estará compuesto por dos participantes y un moderador. </p>
                        
                        <div class="grid grid-cols-2 md:grid-cols-3 gap-3 justify-center mt-6 text-sm">
                                
                                {%   set t = 0.5 %}
                                {% for tematica in tematicas %}
                                   
                                    <span class="bg-gray-100 text-gray-600 shadow rounded-lg px-2 py-2" data-sal="slide-up" style="--sal-duration: 1s; --sal-delay: {{t}}s;"><svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-primary inline mr-1" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                                    </svg>{{ tematica }}</span>
                                    {%   set t = t + 0.2 %}
                                {% endfor %}
                                

                        </div>
                
                </div>

            </div>

 

   
   
</div>

<div class="max-w-lg mx-auto">
 <img src="images/ondas-2.png" alt="Ondas" class="mx-auto w-24 md:w-32" />
</div>


<div class="max-w-xl mx-auto my-6" data-sal="slide-up" style="--sal-duration: 0.5s; --sal-delay: 0.3s;">
    <span class="text-sm text-center block tracking-tight uppercase text-gray-500">11 y 12 diciembre 2021</span>
    <h2 class="text-primary font-bold text-2xl sm:text-3xl tracking-tight leading-none text-center">24 charlas con profesionales de la programación, el desarrollo y la divulgación</h2>
    <p class="text-gray-600 text-center my-4 px-4">Tanto los ponentes como los moderadores participan activamente en canales de divulgación técnica y cuentan con una valiosa experiencia en el ámbito profesional.</p>

</div>


<div class="max-w-4xl mx-auto mt-6 mb-10 px-2">

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-7 justify-center my-12 text-sm">

        {%   set delay = 0.1 %}
        {% for charla in charlas %}
          {% if loop.index < 7 %}
            <div class="shadow-lg g-gray-50 bg-lines" data-sal="slide-up" style="--sal-duration: 0.6s; --sal-delay: {{delay}}s;">
                <div class="border border-gray-200 rounded-t-lg px-4 py-8 h-96">

                    <div class="h-64">

                    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 block text-primary mx-auto" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11a7 7 0 01-7 7m0 0a7 7 0 01-7-7m7 7v4m0 0H8m4 0h4m-4-8a3 3 0 01-3-3V5a3 3 0 116 0v6a3 3 0 01-3 3z" />
                    </svg>
                    <h3 class="text-gray-600 tracking-tight leading-none font-bold text-2xl text-center mt-3">
                    {{ charla.titulo }}
                    </h3>

                    <div class="mt-2 text-center">
                    <p class="text-primary">{{ charla.fecha }}</p>
                    
                    
                    {%  if charla.participantes %}
                    <ul class="text-lg leading-none text-gray-500 text-lg mt-2">
                        {% for participante in charla.participantes %}
                            <li>{{participante.nombre}}</li>
                        {% endfor%}
                    </ul>
                    {% endif %}

                    </div>

                    </div>

                    <div class="mt-4 text-center">
                        <span class="text-xs text-gray-500">Moderada por</span>
                        <p>{{ charla.moderador}}</p>
                    </div>
                    
                </div>
                
                <div class="w-full py-2 bg-primary rounded-b-lg" data-sal="slide-up" style="--sal-duration: 1s; --sal-delay: 0.7s;">
                <p class="text-center m-0 p-0"><a class="text-white" href="{{ charla.calendario }}">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 -mt-1 inline mr-2" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd" />
                </svg>Añadir al Calendario</a></p>
                </div>
            </div>
        {% endif %}
       {%   set delay = delay + 0.1 %}
    {% endfor %}


    </div>

    <div class="mx-auto text-center" data-sal="slide-up" style="--sal-duration: 1s; --sal-delay: 0.7s;">
    <button  onclick="location.href='{{ '/programacion' | url }}'" type="button" class="text-center border-2 border-primary mt-4 py-3 px-8 text-primary rounded-full hover:bg-gray-100">
            <div class="flex items-center">
                
        
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 text-primary inline mr-2" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z" clip-rule="evenodd" />
                </svg>
                
                <span class="font-bold text-lg">Todas las charlas 24H24L</span>
            </div>
    </button>
    </div>
</div>

 {% include "patrocinadores.njk" %}

{% endblock %}



