---
title: Evento online 24H24L software libre - Edicion GNU/Linux
ogtype: website
prefix: /24h24l-web
tematicas: 
    - "GNU / Linux"
    - "Redes"
    - "Sistemas"
    - "Seguridad"
    - "Programación"
    - "Multimeda"
---

{% extends 'simple.njk' %}

{% block content %}

<div class="bg-primary w-full text-white py-4">
    <div class="marquee">
         <ul class="marquee__content text-xl lg:text-2xl tracking-tight">

            <li class="marquee__item">🤙</li>
            <li class="marquee__item">¡En 2024 vuelve 24H24L!</li>
            <li class="marquee__item">GNU/Linux</li>
            <li class="marquee__item">Redes, sistemas y seguridad</li>
            <li class="marquee__item">💻</li>
            <li class="marquee__item">Programación</li>
             <li class="marquee__item">🎛</li>
            <li class="marquee__item">Multimedia</li>
           

            <li class="marquee__item">🎙</li>
            
            <li class="marquee__item">¡En 2024 vuelve 24H24L!</li>
            <li class="marquee__item">👋</li>
            <li class="marquee__item">GNU/Linux</li>
            <li class="marquee__item">Redes, sistemas y seguridad</li>
            <li class="marquee__item">💻</li>
            <li class="marquee__item">Programación</li>
            <li class="marquee__item">🙏</li>
            <li class="marquee__item">Multimedia</li>

            <li class="marquee__item">🎧</li>
            <li class="marquee__item">¡En 2024 vuelve 24H24L!</li>
             <li class="marquee__item">🎤️</li>
            <li class="marquee__item">GNU/Linux</li>
            <li class="marquee__item">🐧</li>
            <li class="marquee__item">Redes, sistemas y seguridad</li>
            <li class="marquee__item">💻</li>
            <li class="marquee__item">Programación</li>
            <li class="marquee__item">Multimedia</li>


        </ul>
    </div>
</div>

<div class="max-w-6xl mx-auto px-4 py-16">

    <div class="flex flex-wrap items-center">

        <div class="w-full sm:w-6/12 lg:7/12 px-4 mb-6" data-sal="slide-up" style="--sal-duration: 0.5s; --sal-delay: 0.3s;">
            <span class="text-sm tracking-tight uppercase text-gray-900 font-bold">Edición 2024 GNU/Linux</span>
            <h1 class="text-3xl sm:text-4xl max-w-lg tracking-tight leading-1 font-bold text-primary mb-4">En 2024 vuelve el evento de 24 horas dedicado al mundo del software libre en español</h1>

    
            <p class="text-gray-600">El evento 24H24L consiste en la grabación de <strong>24 audios de 1 hora</strong> sobre una temática especifica, en esta tercera edición se centrará en <strong>GNU/Linux.</strong> El propósito es cualquier usuario independientemente de su nivel descubra que le puede aportar este sistema operativo y le facilite el camino para empezar a utilizar este sistema.</p>

             <div class="grid grid-cols-2 md:grid-cols-3 gap-3 justify-center mt-10 text-sm">
                                    
                {%   set t = 0.5 %}
                {% for tematica in tematicas %}
                                    
                        <span class="bg-transparent border-primary font-bold border-2 text-primary px-2 py-2" data-sal="slide-up" style="--sal-duration: 1s; --sal-delay: {{t}}s;"><svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-primary inline mr-1" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                        </svg>{{ tematica }}</span>
                        {%   set t = t + 0.2 %}
                {% endfor %}
                                    

            </div>

          
        </div>

        <div class="w-full sm:w-6/12 lg:5/12 sm:px-4" data-sal="slide-up" style="--sal-duration: 1s; --sal-delay: 0.3s;">

            {% image "images/24h24l-2024-ilustracion.jpg", "Ilustración 24h24L", "w-3/4 mx-auto" %}

        </div>



    </div>

</div>



<div class="bg-primary py-16">

    <div class="max-w-6xl mx-auto px-4 my-4">


                <div class="flex flex-wrap items-center">
                
                    <div class="w-full sm:w-6/12 lg:5/12 sm:px-4 order-last sm:order-first" data-sal="slide-up" style="--sal-duration: 1s; --sal-delay: 0.7s;">
                            {% image "images/24h24l-2024-ilustracion-2.png", "Ilustración 24h24L", "mx-auto w-48 mb-8 md:w-72 rounded-full border-white border-2" %}
                    </div>
                    <div class="w-full sm:w-6/12 lg:7/12 px-4 mb-6 text-white" data-sal="slide-up" style="--sal-duration: 0.5s; --sal-delay: 0.3s;">
                            <span class="text-sm tracking-tight uppercase">Evento abierto y 100% gratuito</span>
                            <h2 class="font-bold text-2xl sm:text-3xl tracking-tight leading-1">Un evento en línea abierto y gratuito, con la participación de divulgadores del software libre</h2>
                            <p class="mt-4 mb-4">El formato de los audios será el siguiente, <span class="underline">1 hora de duración con un moderador y 2 participantes</span> con conocimientos y amplia experiencia en el tema tratado.</p>

                            <p class="mb-4">Una vez grabado los audios y editados, se empaquetaran para emitirlos por Internet a través de la web del evento . No hay día escogido para la emisión, <span class="underline">se espera que sea para Marzo del 2024.</span></p>

                            <p class="mb-4">Una vez finalizada la emisión, se publicarán por la canales de Youtube y Fediverse.tv de 24H24L como en formato podcast por diferentes servicios de podcasting. </p>
                        
        
                    
                    </div>

                </div>

    

    
    
    </div>

</div>


<div class="max-w-6xl mx-auto px-4 py-16">

    <div class="max-w-lg mx-auto mb-6">
    <img src="/images/ondas-2.png" alt="Ondas" class="mx-auto w-24 md:w-32" />
    </div>

    <div class="max-w-xl mx-auto text-center">
            <h2 class="text-2xl font-bold text-primary tracking-tight mb-2">Eventos 24h24L 2020 y 2021</h2>
            <p>Esta es la tercera edición del evento 24h24L. Puedes escuchar las grabaciones de las dos ediciones anteriores a través de nuestro canal de YouTube o través de nuestro feed RSS donde publicamos más contenido.</p>
        </div>

    <div class="flex flex-wrap">
        
        <div class="w-full md:w-1/2 mb-6">
            <div class="p-4">
            <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?si=g-XKbbIJlHbBgXUw&amp;list=PLHjbXJFND6qqw6EX9lSyC6yEKLYbE_S1A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>

         <div class="w-full md:w-1/2 mb-6">
            <div class="p-4">
            <iframe width="100%" height="315" src="https://www.youtube-nocookie.com/embed/videoseries?si=tXliAPJRUVDtlcgW&amp;list=PLHjbXJFND6qp_B1Uv47fGuNcRYp5KVunt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>

    
    </div>

    <ul class="flex justify-around py-2 text-sm md:text-lg font-bold text-gray-900 mt-8">
           <li class="mb-2"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 -mt-1 inline text-primary"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 5c7.18 0 13 5.82 13 13M6 11a7 7 0 017 7m-6 0a1 1 0 11-2 0 1 1 0 012 0z" />
            </svg><a href="https://24h24l.org/feed.xml" class="text-primary  underline hover:text-gray-500">Feed RSS</a></li>
           
           <li class="mb-2"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 -mt-1 inline text-primary"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg><a href="https://anchor.fm/24h24l" class="text-primary underline hover:text-gray-500">AnchorFM</a></li>
            
            <li class="mb-2"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2 -mt-1 inline text-primary"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.752 11.168l-3.197-2.132A1 1 0 0010 9.87v4.263a1 1 0 001.555.832l3.197-2.132a1 1 0 000-1.664z" />
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg><a href="https://youtube.com/24H24L" class="text-primary underline hover:text-gray-500">YouTube</a></li>



    </ul>
    
    
    
    
    </div>
</div>




{% endblock %}







