---
title: Sorteo y premios en el evento 24H24L
ogtype: website
---

{% extends 'base.njk' %}

{% block content %}




<div class="max-w-xl mx-auto my-8">
    <span class="text-base text-center block tracking-tight uppercase text-gray-500">Sorteo 24H24L Edición programación</span>
    <h1 class="text-primary font-bold text-2xl sm:text-3xl tracking-tight leading-none text-center">Sorteos de premios proporcionados por los  patrocinadores</h1>
</div>

<div class="max-w-4xl mx-auto text-gray-600">

<p>Los premios son los siguientes:</p>

<ul class="grid grid-cols-1 md:grid-cols-2 gap-7">
{% for patrocinador in patrocinadores %}
<li class="border border-gray-300 p-6 mb-4 rounded-lg shadow-lg text-center bg-lines">
<p class="mb-0">
{% for website in patrocinador.web %}
    <a href="{{ website.url | safe }}" class="font-bold text-sm text-primary" title="Sitio web {{ patrocinador.nombre }}">{{ patrocinador.nombre}}</a>
{% endfor %}
</p>
{% for aporte in patrocinador.aportacion%}
<p class="text-lg font-bold leading-none">{{ aporte.nombre}}</p>
<p>{{ aporte.descripcion}}</p>
{% endfor %}

</li>
{% endfor %}
</ul>

<h2 class="text-primary font-bold text-2xl mt-8">Premios por plataformas</h2>
<p>Los premios se repartirán entre las diferentes plataformas de redes sociales que utiliza 24H24L; Canal de Telegram, Twitter y Mastodon.</p>

<h3 class="font-bold text-primary mb-2">Twitter</h3>

<ul class="list-disc ml-4 mb-6">

<li>1 Teclado Slimbook RGB RK83.</li>

<li>2 Libros(PDF) Don Clojure de la Mancha.</li>

<li>2 Membresías(1 año) Platzi Expert.</li>

<li>1 Membresia anual de HiveAgile.</li>

<li>1 Membresía(1 año) Asociación Podcast.</li>

<li>1 Plan Hosting Avanzado(1 año) de Dinahosting</li>

<li>1 acceso a la plataforma  cursosdedesarrollo.com</li>

<li>1 licencia (1 año) para la plataforma Invoce System de Pavabits.</li>

</ul>


<h3 class="font-bold text-primary mb-2">Telegram</h3>

<ul class="list-disc ml-4 mb-6">


<li>2 Copias(PDF) del libro Don Clojure de la Mancha.</li>
<li>2 Membresías de Platzi Expert.</li>
<li>1 Plan(1 año) Hosting Avanzado.</li>
<li>1 Membresía (1 año) Asociación Podcast.</li>
<li>1  Acceso a Cursos de Desarrollo.</li>

</ul>


<h3 class="font-bold text-primary mb-2">Mastodon</h3>

<ul class="list-disc ml-4 mb-6">
<li>1 Copia(PDF) del libro Don Clojure de la Mancha.</li>
<li>1 Membresía de Platzi Expert.</li>
<li>Plan (1 año) Hosting Avanzado de Dinahosting.</li>
<li>1  Acceso a Cursos de Desarrollo.</li>
</ul>



<h3 class="font-bold text-primary mb-2">Requisitos y condiciones</h3>

<p>Los participantes deberán escribir en la red correspondiente  (Twitter, Telegram y Mastodon) un mensaje especificando el premio donde quieren participar, mediante el siguiente mensaje.
</p>

<ul class="list-disc ml-4 mb-6">

<li class="mb-2"><span class="font-bold text-primary">Twitter</span> mediante un MD a la cuenta de Twitter del evento @24H24L1 con el hashtag #QuieroparticiparXXXX  , donde las xxxx es el premio que quieres participar. Se le proporcionará un número que será el que tenga para el sorteo.</li>
<li class="mb-2"><span class="font-bold text-primary">Telegram</span> Mediante un mensaje con la etiqueta #QuieroparticiparXXXXX , donde las xxxx es el premio que quieres participar, a la cuenta @JoseAJimenez. Se le proporcionará un número que será el que tenga para el sorteo.</li>
<li class="mb-2"><span class="font-bold text-primary">Mastodon</span> mediante un MD a la cuenta de Twitter del evento @24h24l@mastodon.online con el hashtag #QuieroparticiparXXXX  , donde las xxxx es el premio que quieres participar. Se le proporcionará un número que será el que tenga para el sorteo.</li>
</ul>

<p>Es importante que el participante tenga el <strong>número para el sorteo</strong> y <strong>solo una participación por sorteo</strong>  aunque se puede participar en varios sorteos y varias redes. Otras condiciones a tener en cuenta.</p>

<ul class="list-disc ml-4 mb-6">
<li class="mb-2">El participante deberá proporcionar una <strong>cuenta de correo electrónico</strong> para contacto, lo  puede hacer en el momento que se apunta al sorteo o después.</li>
<li class="mb-2">El premio será <strong>proporcionado y gestionado por el patrocinador</strong>, la organización de 24H24L solo le <strong>enviará el correo electrónico de los ganadores</strong> al patrocinador de ese premio.</li>
<li class="mb-2">La participación a los sorteos empezarán el <strong>26 de Noviembre 10:00 hasta el 10 de Diciembre a las 23:59</strong>.</li>
<li class="mb-2">Habrá un sorteo por cada premio que se realizará en <a href="https://random.org" rel="noopener" target="_blank" rel="nofollow" class="font-bold text-primary">random.org</a>, el resultado será el número de un participante.</li>
<li class="mb-2">Si para algún premio no hay no hay participantes o hay un número inferior al premio del sorteo. Se considera una de estas dos opciones.</li>
<li class="mb-2">Si hay sorteo de ese premio en las otras redes (Twitter,Telegram o Mastodon), se moverá el premio al sorteo con más participantes.</li>
<li class="mb-2">Si no hay sorteo en otros o no hay más participantes libres, se considera <strong>desierto<strong> y se comentará con el patrocinador para ver otras posibles soluciones.</li>
</ul>

</div>
{% include "patrocinadores.njk" %}

{% endblock %}




